xsd/meteo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="MeteoVille">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="temperatureMin" type="xs:double"/>
            <xs:element name="temperatureMax" type="xs:double"/>
            <xs:element name="ville" type="Ville"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:complexType name="Ville">
    <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
        <xs:element name="pays" type="xs:string"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>